.card {
    border: 5px solid #0043ad;
    background-color: #0043ad;
    color: white;
    border-radius: 20px;
}

.title-acompanhamento {
    color: #0043ad;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.cards-container {
    justify-content: space-between;
    margin-top: 150px;
    padding: 35px;
    padding-top: 55px;
}

.card-header {
    padding: 10px;
}

.card-body {
    background-color: white;
    border-radius: 20px;
}

.btt-agendar-visita {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-color: white;
    color: #0043ad;
    font-weight: bold;
    border-radius: 50px;
}

.card-text {
    font-size: 120%;
}