html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    justify-content: space-between;
    display: flex;
    padding-left: 2%;
    margin-right: 2%;
}

header {
    border-bottom: 2px solid #ff751f;
}

.logo-manutech {
    margin-top: 0.7%;
    margin-bottom: 0.7%;
}

.lista-header {
    justify-content: center !important;
    margin-left: 27vw;

}

.titulo-geral h1 {
    font-size: 5.5vh;
    color: #ff751f;
    font-weight: 700;
}

.fundo {
    background: transparent url("../images/background.png") repeat-x scroll 0 0;
    background-size: cover;
    background-position: top;
    padding-top: 8vw;
    height: 9vh;
    margin-top: 2vw;
}

.header-icons {
    display: flex;
    width: 8vw;
    margin-right: 3.5%;
}

.botoes-header {
    font-size: 2.2vh;
}

.header-icons a {
    display: inline-block;
}

.icons-header {
    width: 2.6vw;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

.content-geral {
    margin-top: 1%;
}

.card {
    border: none;
    background-color: #ff751f;
    width: 28% !important;
}

.card:hover {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.card-body {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
    justify-content: center;
    display: flex;
}

.cards-produtos {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.card-text {
    color: #ffffff;
    font-size: 3vh;
    font-weight: 600;
}

.footer-laranja {
    background: #E7691C;
    background: -moz-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: -webkit-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: linear-gradient(to bottom, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    color: #ffffff !important;
    height: auto;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.marca-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 0;
}

.texto-footer {
    margin: 0;
    color: #ffffff !important;
    letter-spacing: 1.25px;
}

.itens-footer {
    display: flex;
    margin-top: 1%;
}

.itens-footer p {
    display: grid;
    align-items: center;
    font-size: 2vh;
}


.textinhos-footer {
    align-items: center;
    display: grid;
}

.textinhos-footer p {
    margin: 0%;
}

.icons-footer {
    width: 70px;
    height: auto;
    margin-right: 2%;

}

.logo-footer {
    margin: 0% !important;
    width: 100%;
    max-width: 460px;
    height: auto;


}

/* -------------------------------------------------------- */

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

}

.ul-contatos {
    gap: 10px;
}

.ul-contatos li {
    height: 40px;
}

.img-contato {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.texto-contato {
    display: flex;
    align-items: center;
}

.texto-contato p {
    margin: 0;
    font-size: 100%;
}