html, body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    justify-content: space-between;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

header {
    border-bottom: 2px solid #ff751f;
}

.lista-header{
    justify-content: center !important;
}

.header-icons {
    display: flex;
    width: 8vw;
    margin-right: 2.5%;
}



.header-icons a {
    display: inline-block;
}

.icons-header {
    width: 3vw;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

.content-geral {
    margin-top: 3%;
}

.card {
    border: none;
    background-color: #ff751f;
}

.card-body {
    padding-top: 5%;
    padding-bottom: 5%;
}

.cards-produtos {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
