.container-chamado{
    margin-top: 120px;
}
.row-chamado{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.input-tipo0-chamado{
    border-radius: 10px;
    border: 2px solid #0043ad;
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding-left: 10px;
    padding-bottom: 260px;
    overflow-wrap: break-word;
    resize: none;
}
.input-tipo1-chamado{
    border-radius: 10px;
    border: 2px solid #0043ad;
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.input-tipo2-chamado{
    border: none;
    background-color: #0043ad;
    color: white;
    border-radius: 10px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
}

.button-enviar-chamado{
    width: 50%;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    background-color: #0043ad;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
}
@media (max-width: 576px) {
    .button-enviar-chamado{
     width: 100%;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    background-color: #0043ad;
    color: white;
    font-weight: bold;
    font-size: 4.2vw;
}
}
.primeira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
    line-break: auto;
}
.primeira p{
    word-break: break-word; /* Permite quebrar palavras longas */
width: 200px; /* Define uma largura fixa para demonstrar o efeito */
}
.segunda{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 5px;
    height: 100%;
}