.container-chamado{
    margin-top: 100px;
}
.row-chamado{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.input-tipo0-chamado{
    border-radius: 10px;
    border: 2px solid #0043ad;
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding-left: 10px;
    padding-bottom: 260px;
}
.input-tipo1-chamado{
    border-radius: 10px;
    border: 2px solid #0043ad;
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.input-tipo2-chamado{
    border: none;
    background-color: #0043ad;
    color: white;
    border-radius: 10px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
}

.button-enviar-chamado{
    width: 40%;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    background-color: #0043ad;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
}

.primeira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
}
.segunda{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 5px;
    height: 100%;
}