.container-contatos{
    display: block;
    margin-top: 7%;

}
.contato-chat{
    margin: 10px;
    background-color: #0043ad;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.contato-chat img{
    width: 40px;
}
.contato-chat p{
    margin-bottom: 0;
}
.container-conversa{
    margin-top: 100px;
    border: 2px solid #0043ad;
    width: 98%;
    border-radius: 20px;
    padding-bottom: 10px;
}
.header-conversa{
    background-color: #0043ad;
    width: 100%;
    height: 80px;
    border-radius: 17px 17px 0 0;
}
.header-conversa img{
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
}
.header-conversa p{
    color: white;
    font-size: 140%;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -47px;
}
.msg1{
    background-color: #0043ad;
    color: white;
    width: fit-content;
    max-width: 60%;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.msg2{
    background-color: #3b3b3b;
    color: white;
    width: fit-content;
    max-width: 60%;
    padding: 10px;
    border-radius: 20px;
    margin: 50px;
    margin-left: auto;
    height: auto;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.enviar-msg{
    width: 200%;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid #0043ad;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 390px;
}
.btn-enviar{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #0043ad;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 555px;
}  
.btn-enviar-msg :hover{
    background-color: #003090;
    cursor: pointer;
}
.centralizar-botao-enviar{
    display: flex;
    justify-content: center;
    align-items: end;
}