.container{
    width: 1200px;
    margin-right: 200px;
}
.contato-chat{
    margin-top: 200px;
    background-color: #0043ad;
    width: 30%;
    height: 60px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.contato-chat img{
    width: 40px;
}
