.container-contatos{
    display: block;
    margin-top: 7%;
}
.container-conversa{
    border: 2px solid #0043ad;
    width: 60%;
    height: 900px;
    border-radius: 20px;
}
.contato-chat{
    margin: 10px;
    background-color: #0043ad;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.contato-chat img{
    width: 40px;
}
.contato-chat p{
    margin-bottom: 0;
}
.container-conversa{
    width: 95%;
    height: 95vh;
    border: 2px solid #0043ad;
    margin: 10px;
    
}