/* ------------------------------------- Index.html ------------------------------------------- */
.header-index{
    width: 100% !important;
    height: 130px !important;
    background-color: #0043ad !important;
}
.logo-header-index{
    margin: auto;
    width: 240px;
    height: auto;
    transform: translateY(-12px);
}
.botao-header-index{
    background-color: #ffffff !important;
    width: 105px !important;
    height: 40px !important;
    color: #0043ad !important;
    border: none !important;
    margin-right: 20px;
    font-weight: bold;
    transform: translateY(-12px);
    margin-right: 50px !important;
}
video{
   position: absolute;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.txt-video-index{
    width: 600px;
    font-size: 4vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-131%, -50%);
    color: white;
    text-align: left;
    z-index: 10;
    font-weight: bold;
}
@media (max-width: 576px) {
    .txt-video-index {
        position: absolute;
        width: 70px;
        margin-bottom: 50px;
    }
}
.button-index-banner{
    position: absolute;
    width: 350px;
    height: 110px;
    border: none;
    background-color: #0043ad;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10.2rem;
    margin-top: 30%;
}
@media (max-width: 576px) {
    .button-index-banner {
        width: 180px;
        height: 70px;
        font-size: 20px;
    }
}
.button-index-banner:hover{
    color: #0043ad;
    background-color: #ffffff;
}
.title-conhecanossotrabalho{
    color: #0043ad;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1150px;
}
.txt-conhecanossotrabalho{
    margin-top: 3%;
    font-size: 25px;
    width: 85%;
    justify-self: center;
}
.title-porqueescolheramanutech{
    color: #0043ad;
    justify-self: center;
    font-weight: bold;
    margin-top: 7%;
}