/* ------------------------------------- Index.html ------------------------------------------- */
.header-index{
    width: 100% !important;
    height: 130px !important;
    background-color: #0043ad !important;
}
.logo-header-index{
    margin: auto;
    width: 240px;
    height: auto;
    transform: translateY(-12px);
}
.botao-header-index{
    background-color: #ffffff !important;
    width: 105px !important;
    height: 40px !important;
    color: #0043ad !important;
    border: none !important;
    margin-right: 20px;
    font-weight: bold;
    transform: translateY(-12px);
    margin-right: 50px !important;
}
video{
    display: block  ;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
.txt-video-index{
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    top: 50%;
    left: 20% ;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    z-index: 10;
    text-decoration-thickness: initial;
}