html,
body {
    overflow: hidden;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
    padding-left: 0%;
}

.logo-login {
    justify-content: center;
    display: flex;
}

.div-logo-login {
    justify-content: center;
    margin-bottom: 6%;
}

.logo-login img {
    width: 95%;
    aspect-ratio: 30 / 5;
    justify-self: center;
}

.resto-login {
    justify-content: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 0%;
    display: flex;
}

.fundo-login-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
}

@media (min-width: 992px) {
    .fundo-login-2 {
        right: 50%;
    }
}

.tudo-login {
    display: grid;
    align-items: center;
    height: 100vh;
}

@media (max-width: 500px) {
    .content-login {
        top: 0;
    }
}

.content-login {
    align-items: center;
    display: grid;
    justify-content: center;
    padding: 0%;
}

.inputs-login {
    width: 200%;
    justify-self: center;
    padding: 0%;
}

.input-login {
    border-radius: 20px;
    border: #0043ad 1.8px solid;
    width: 100%;
}

.input-login:focus {
    outline: none;
    box-shadow: none;
}

.texto-login {
    font-size: 2.5vh;
    text-align: center;
    width: 100%;
    padding: 0%;
}

.texto-login p {
    padding: 0%;
    justify-self: center;
    width: 80%;
    text-align: center;
}

.texto-login a {
    text-decoration: none;
    color: #0043ad;
    font-weight: 500;
}

.botao-login {
    justify-self: center;
    border-radius: 30px;
    font-size: 3.5vh;
    background-color: #0043ad;
}

.img-login {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-image: url('../images/ilustracoes/img-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-step {
    display: none;
    animation: fadeIn 0.5s ease;
}

.form-step.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.botao-voltar-etapa {
    justify-self: center;
    border-radius: 30px;
    font-size: 3vh;
    background-color: #6c757d;
    border: none;
    margin-right: 10px;
}

.botao-voltar-etapa:hover {
    background-color: #5a6268;
}

.tamanho-div {
    height: 25.77vh;
}
