html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}

.container {
    margin: 0%;
}

.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.div-img-logo {
    justify-content: center;
    display: flex;
}

.img-logo {
    width: 400px;
    margin-bottom: 50px;
}

.img-background {
    background-image: url('../images/ilustracoes/fundo-login.png');
    background-position: top left;
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    left: 0;
    width: 35%;
    z-index: -1; 
    pointer-events: none;
}

img {
    width: 100%;

}

.img {
    padding: 0;
    margin: 0;
}

.inputs-login {
    width: 55%;
    justify-content: center;
}

.input-login {
    margin-top: 2%;
}

.form-control {
    border-radius: 20px;
    border: solid #0045af;
}

.form-control:focus {
    box-shadow: none;
}

.textinho-login {
    text-align: center;
    margin-top: 8%;
}

a {
    text-decoration: none;
    color: #0045af;
    font-weight: 600;
}

.div-botao-login {
    justify-content: center;
    display: flex;
}

.botao-login {
    background-color: #0045af;
    width: 40%;
    font-size: 3vh;
    padding-top: 0.5%;
}