html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}



/* --------------------------------------------------table---------------------------------------------------- */

.headT {
    font-weight: bold;
    font-size: 2.2vh;
    padding: 1.5vh 0;
    text-align: center;
    border-bottom: 2px solid #ff751f;
}


.footer-laranja {
    background: #E7691C;
    background: -moz-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: -webkit-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: linear-gradient(to bottom, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    color: #ffffff !important;
    height: auto;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.marca-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 0;
}

.texto-footer {
    margin: 0;
    color: #ffffff !important;
    letter-spacing: 1.25px;
}

.itens-footer {
    display: flex;
    margin-top: 1%;
}

.itens-footer p {
    display: grid;
    align-items: center;
    font-size: 2vh;
}


.textinhos-footer {
    align-items: center;
    display: grid;
}

.textinhos-footer p {
    margin: 0%;
}

.icons-footer {
    width: 70px;
    height: auto;
    margin-right: 2%;

}

.logo-footer {
    margin: 0% !important;
    width: 100%;
    max-width: 460px;
    height: auto;


}

/* -------------------------------------------------------- */

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

}

.ul-contatos {
    gap: 10px;
}

.ul-contatos li {
    height: 40px;
}

.img-contato {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.texto-contato {
    display: flex;
    align-items: center;
}

.texto-contato p {
    margin: 0;
    font-size: 100%;
}