html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}



/* --------------------------------------------------table---------------------------------------------------- */

.headT {
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    border-bottom: 2px solid #ff751f;
}

.linhaT {
    margin: 5px;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.7s ease;
}

.linhaT:hover {
    transition: all 0.2s ease;
    transform: scale(1.01);
    background-color: #ffefd5;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #0000004f, 0px 0px 25px -18px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 10px 13px -7px #0000004f, 0px 0px 25px -18px rgba(0, 0, 0, 0.01);
}

.bodyT {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    height: 100px;
    border-bottom: 2px solid #ff751f;
}
.btt-comprar{
    border: 1px solid #E7691C;
    margin-left: 25px;
}


/* -------------------------------------------------------- footer -------------------------------------------------------- */

.footer-laranja {
    background: #E7691C;
    background: -moz-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: -webkit-linear-gradient(top, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    background: linear-gradient(to bottom, #E7691C 0%, #FF751F 50%, #FF751F 100%);
    color: #ffffff !important;
    height: auto;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.marca-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 0;
}

.texto-footer {
    margin: 0;
    color: #ffffff !important;
    letter-spacing: 1.25px;
}

.itens-footer {
    display: flex;
    margin-top: 1%;
}

.itens-footer p {
    display: grid;
    align-items: center;
    font-size: 2vh;
}


.textinhos-footer {
    align-items: center;
    display: grid;
}

.textinhos-footer p {
    margin: 0%;
}

.icons-footer {
    width: 70px;
    height: auto;
    margin-right: 2%;

}

.logo-footer {
    margin: 0% !important;
    width: 100%;
    max-width: 460px;
    height: auto;


}

/* -------------------------------------------------------- */

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

}

.ul-contatos {
    gap: 10px;
}

.ul-contatos li {
    height: 40px;
}

.img-contato {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.texto-contato {
    display: flex;
    align-items: center;
}

.texto-contato p {
    margin: 0;
    font-size: 100%;
}