html,
body {
    max-width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    overflow: hidden;
}


/* ---------------------------------------------- */


main {
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

.content-geral {
    height: 70%;
}

.img-produto {
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tudo-produto {
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    height: 80%;
}

.dados-produto {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banana {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.compra-produto {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 16%;
}

.coluna-quantidade {
    display: flex;
    align-items: center;
}

.quantidade-produto {
    display: flex;
    border: 2px solid #000000;
    border-radius: 15px;
    font-size: 3vh;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.quantidade-produto button {
    background-color: transparent;
    border: none;
    align-items: center;
}

.botaoadd-produto {
    width: 100%;
    height: 100%;
}

.botaoadd-produto button {
    font-size: 120%;
    border: none;
    border-radius: 15px;
    background-color: #ff751f;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

p {
    margin-bottom: 0%;
    font-size: 100%;
}

.nome-produto {
    font-size: 5vh;
}

.nome-produto p {
    line-height: 1.1;
}

.modelo-produto {
    font-size: 3vh;
}

.descricao-produto {
    margin-top: 2%;
    font-size: 2vh;
}

.preco-produto {
    font-size: 4vh;
    margin-top: 3%;
    margin-bottom: 3%;
}

.dadosEspecificos-produto {
    color: #737373;
}

