.container{
    margin-top: 130px;
    background-color: #f1f1f1;
    height: auto;
    width: auto;
    max-width: 800px;
    border-radius: 25px;
    padding: 30px;
}
.titulo-servico{
    padding-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #0043ad;
}
.btt-servico{
    margin-top: 30px;
    background-color: #0043ad;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    width: auto;
}
.txt-aceitar-servico{
    color: #ff751f;
    font-size: 25px;
}
.txt-responsavel, .txt-endereco, .txt-descricao{
    color: #737373;
    font-size: 25px;
}