body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Nunito, sans-serif;
}
/* ------------------------------------------------------------------------------ HEADER LARANJA --------------------------------------------------------------------- */

.navbar {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0%;
    align-items: center;
}

.content-navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
}

header {
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center; 
    border-bottom: 2px solid #ff751f;
    width: 100%;
}

.logo-manutech {
    margin-top: 0.7%;
    margin-bottom: 0.7%;
}

.lista-header {
    text-align: center !important;
    margin-left: 0%;
}

.fundo {
    background: transparent url("../images/background.png") repeat-x scroll 0 0;
    background-size: cover;
    background-position: top;
    padding-top: 8vw;
    height: 9vh;
    margin-top: 2vw;
}

.menu-mobile {
    display: flex;
    justify-content: end;
}

.header-icons {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
}

.header-icons-menu{
    display: flex;
    width: 100%;
    margin-top: 6%;
    align-items: center;
}

.botoes-header {
    font-size: 2.2vh;
    justify-self: center;
}

.header-icons a {
    display: inline-block;
}

.icons-header {
    width: 100%;
}

/* ------------------------------------------------------------------------------- HEADER AZUL ----------------------------------------------------------------------- */

.header-azul {
    width: 100% !important;
    border-bottom: 2px solid #0042A9 !important;
}

.titulo-geral h1 {
    font-size: 5.5vh !important;
    color: #0042A9 !important;
    font-weight: 700 !important;
}

/* --------------------------------------------------------------------------------- CHATBOX ------------------------------------------------------------------------- */
.chatbox{
    width: 420px;
    height: auto;
    
    overflow: auto;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #0043ad;
    overflow: hidden;
}
.header-chatbox{
    background-color: #0043ad;
    width: 417px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    height: 15%;
}
.foto-chatbox img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
}
.nome-chatbox{
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px    ;
}
.mensagem-chatbox{
    max-width: 300px;
    height: calc(100% - 60px);
    text-align: left;
    margin-left: 10px;
    color: white;
    background-color: #0043ad;
    border-radius: 20px;
    margin-top: 25px;
    padding-right: 150px;
    padding: 8px;
    overflow-y: auto;
}
.mensagem2-chatbox{
    max-width: 300px;
    height: calc(100% - 60px);
    color: white;
    background-color: #747474;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px;
}
.input-msg-chatbox input{
    width: 390px;
    margin-top: 145px;
    border: 2px solid #0043ad;
    border-radius: 15px;
    padding: 5px;
}
.icon-enviarmsg-chatbox{
    background-color: #0043ad;
    width: 35px;
    height: 35px;
    margin-bottom: 30px;
    position: absolute;
    border-radius: 35px;
}
.icon-enviarmsg-chatbox img{
    width: 25px;
    height: 25px;
    rotate: 35deg;
}
/* --------------------------------------FOOTER------------------------------- */

.footer-laranja {
    background: #0042A9;
    background: -moz-linear-gradient(top, #0042A9 0%, #0043AD 50%, #0043AD 100%);
    background: -webkit-linear-gradient(top, #0042A9 0%, #0043AD 50%, #0043AD 100%);
    background: linear-gradient(to bottom, #0042A9 0%, #0043AD 50%, #0043AD 100%);
    color: #ffffff !important;
    height: auto;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.marca-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 0;
}

.texto-footer {
    margin: 0;
    color: #ffffff !important;
    letter-spacing: 1.25px;
}

.itens-footer {
    display: flex;
    margin-top: 1%;
}

.itens-footer p {
    display: grid;
    align-items: center;
    font-size: 2vh;
}


.textinhos-footer {
    align-items: center;
    display: grid;
}

.textinhos-footer p {
    margin: 0%;
}

.icons-footer {
    width: 70px;
    height: auto;
    margin-right: 2%;

}

.logo-footer {
    margin: 0% !important;
    width: 100%;
    max-width: 460px;
    height: auto;
}

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

}

.ul-contatos {
    gap: 10px;
}

.ul-contatos li {
    height: 40px;
}

.img-contato {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.texto-contato {
    display: flex;
    align-items: center;
}

.texto-contato p {
    margin: 0;
    font-size: 100%;
}
.nome-modal{
    color: #0043ad;
}
.box-modal{
    width: 300px;
}
.box-modal-menu{
    width: 100px;
    margin-left: 80%;
}
.empresa-modal{
    color: #424242;
    margin-left: 60px;
}
.foto-modal{
    width: 50px;
}
.alinhar-modal{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.cargo-modal{
    color: #424242;
    margin-left: 60px;
    align-items: center;
}