body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: Nunito, sans-serif;
}
/* --------------------------------------------------------------------------------- HEADERS ------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- CHATBOX ------------------------------------------------------------------------- */
.chatbox{
    width: 420px;
    height: 520px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #0043ad;
    overflow: hidden;
}
.header-chatbox{
    background-color: #0043ad;
    width: 417px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    height: 15%;
}
.foto-chatbox img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
}
.nome-chatbox{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.mensagem-chatbox{
    max-width: 300px;
    height: calc(100% - 60px);
    text-align: left;
    margin-left: 10px;
    color: white;
    background-color: #0043ad;
    border-radius: 20px;
    margin-top: 25px;
    padding-right: 150px;
    padding: 8px;
    overflow-y: auto;
}
.mensagem2-chatbox{
    max-width: 300px;
    height: calc(100% - 60px);
    color: white;
    background-color: #747474;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px;
}
.input-msg-chatbox input{
    width: 390px;
    margin-top: 145px;
    border: 2px solid #0043ad;
    border-radius: 15px;
    padding: 5px;
}
.icon-enviarmsg-chatbox{
    background-color: #0043ad;
    width: 35px;
    height: 35px;
    margin-bottom: 30px;
    position: absolute;
    border-radius: 35px;
}
.icon-enviarmsg-chatbox img{
    width: 25px;
    height: 25px;
    rotate: 35deg;
}